<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TransparentTable</key>
	<string>YES</string>
	<key>FadeOutToolbar</key>
	<string>YES</string>
	<key>FontSize</key>
	<string>14</string>
	<key>TextColor</key>
	<string>White</string>
	<key>Background</key>
	<string>startpagebackground.png</string>
	<key>Top</key>
	<string>260</string>
	<key>Left</key>
	<string>100</string>
	<key>Height</key>
	<string>160</string>
	<key>Width</key>
	<string>140</string>
	<key>Style</key>
	<string>Plain</string>
	<key>ItemsInTable</key>
	<array>
		<dict>
			<key>Type</key>
			<string>Menu</string>
			<key>ItemsInCategory</key>
			<array>
				<dict>
					<key>File</key>
					<string>main</string>
					<key>Title</key>
					<string>Start</string>
					<key>Icon</key>
					<string>start_icon.png</string>
					<key>Height</key>
					<string>50</string>
					<key>Action</key>
					<string>OpenFlipperPage</string>
				</dict>
				<dict>
					<key>File</key>
					<string>main</string>
					<key>Title</key>
					<string>Search</string>
					<key>Icon</key>
					<string>search_icon.png</string>
					<key>Height</key>
					<string>50</string>
					<key>Action</key>
					<string>OpenPlistPage</string>
				</dict>
				<dict>
					<key>File</key>
					<string>Favorites</string>
					<key>Title</key>
					<string>Favorites</string>
					<key>Icon</key>
					<string>favorite_icon.png</string>
					<key>Height</key>
					<string>50</string>
					<key>Action</key>
					<string>OpenPlistPage</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
